.loginPage{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    min-height: 100vh;
}
.loginContainer{
    display: flex;
    width: 700px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 1px 26px -1px rgba(0,0,0,0.75);
    
}
.loginContainer .loginContainerLeft{
    width: 50%;
    background-image: url(darkTheme.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-end-start-radius:10px ;
    transform: translate(100%);
    transition: transform .5s;
    z-index: 9999;
    /* display: none; */
}
.loginContainer .loginContainerLeft h1,.loginContainer .loginContainerLeft p{
    opacity: 0;
    transition: opacity 1s;
}
.loginContainer .loginContainerRight{
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    width: 50%;
    transform: translate(-100%);
    opacity: 0;
    transition: transform .5s;
    transition: opacity 1s;
    padding: 25px;
   
}
.loginContainer .loginContainerRight form{
    /* border: 1px solid red; */
    height: 100%;
}
.loginContainer .loginContainerRight h1{
    text-align: center;
    margin-bottom: 50px;
    color: #2d4059;
}
.loginContainer .loginContainerRight .emailPart{
    position: relative;
    margin-bottom: 40px;
}
.loginContainer .loginContainerRight .emailPart input{
    width: 100%;
    height: 25px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding: 5px 30px 5px 0;
}
.loginContainer .loginContainerRight .emailPart label{
    position: absolute;
    left:0;
    top:0;
    transition: .5s;
    cursor: text;
    opacity: .5;
}
.loginContainer .loginContainerRight .emailPart .emailNotEmpty + label, 
.loginContainer .loginContainerRight .emailPart input:focus + label{
    top: -15px;
    font-size: 12px;
    font-weight: bold;
    cursor: auto;
    opacity: 1;
}
.loginContainer .loginContainerRight .passPart{
    position: relative;
    margin: 20px 0;
}
.loginContainer .loginContainerRight .passPart input{
    width: 100%;
    height: 25px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding: 5px 30px 5px 0;
    
}
.loginContainer .loginContainerRight .passPart label{
    position: absolute;
    left:0;
    top:0;
    transition: .5s;
    cursor: text;
    opacity: .5;
}
.loginContainer .loginContainerRight .passPart .passNotEmpty + label,
.loginContainer .loginContainerRight .passPart input:focus + label{
    top: -15px;
    font-size: 12px;
    font-weight: bold;
    cursor: auto;
    opacity: 1;
}
.loginContainer .loginContainerRight .passPart .visibility{
    position: absolute;
    right: 5px;
    opacity: .5;
    top:-3px;
}
.loginContainer .loginContainerRight button{
    background-color: #2d4059;
    color: white;
    padding: 15px ;
    font-size: 16px;
    border-radius: 25px ;
    margin-top: 40px;
    width: 100%;
    cursor: pointer;
    border: none;
}
.loginContainer .loginContainerRight p{
    text-align: center;
    font-size: 14px;
    margin-top: auto;
    
}
@media(max-width: 700px){
    .loginContainer{
        width: 95%;
    }
}
@media(max-width: 600px){
    
    .loginContainer .loginContainerLeft{
        display: none;
    }
    .loginContainer .loginContainerRight{
        width: 100%;
    }
}